@layer components {
    .heading {
        @apply text-theme-rose-900;

        &-1 {
            font-size: 40px;
            line-height: 120%;
            font-weight: 700;
        }

        &-2 {
            font-size: 24px;
            font-weight: 700;
        }

        &-3 {
            font-size: 16px;
            font-weight: 600;
        }

        &-4 {
            font-size: 14px;
        }
    }
}
